server:
  port: 8081

spring:
  datasource:
    username: root
    password: root
    url: jdbc:mysql://47.96.105.42:3306/testdb?useUnicode=true&characterEncoding=utf-8&useSSL=true&serverTimezone=UTC
    driver-class-name: com.mysql.jdbc.Driver

mybatis:
  mapper-locations: classpath:mapping/*Mapper.xml
  type-aliases-package: com.test.zhang.springBoot_Mybatis.entity

#showSql
logging:
  level:
    com:
      example:
        mapper : debug
